
.input-contain{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: ;
    text-align: center;
}
.input-field{
    width:95%;
    padding: 10px;
    margin-top: 5px;
 
}
.input-field:focus {
    border: 2px solid black;
  }
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  