body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}
*p{
    font-size: 16px;
}
/* header start */
.header{

}
.main-head{
    width: 1440px;
    height: 677px;
    margin: 0 auto;
    background-color:#2D25A0;
}
.menu-top ul{
    margin-left: 500px;
}
.menu-top ul li{
    float: left;
    list-style: none;
    line-height: 50px;
}
.menu-top ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}
.menu-top ul li a:hover{
    background-color: orange;
}
.banner{
    display: flex;
    width: 1440px;
}
.slogan{
    margin: 121px 102px 240px 156px;
}
.slogan h1{
    color: #FFFFFF;
    width: 485px;
    
    
}
.slogan a{
    color:#FFFFFF;
    background-color: #E02C6D;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
    
}
styles{
    color: #FFFFFF;
    
}

 .banner-logo{
    position: relative;
    margin: 10px;
}
.banner-logo:hover .animation{
    display: block;
    overflow: none;
    
    
}

.animation{
    position: absolute;
    top: 10px;
    display: none;
    
}
.animation img{
    border-radius: 100px;
    
}

/* section start */
.main-section{
    background-color:#FFFFFF;
    width: 1440px;
    margin: 0 auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blogs{
    margin-right: 30px;
    margin-left: 100px;
}
.player img{
    margin-top: 30px;
   
   
}
.title{
    width: 300px;
    
}
/* main section end */
.sub-section{
    display: flex;
    margin-top: 70px;
    margin-left: 100px;
}
.sub-left{
    margin:30px 0px 0px 100px;
    width: 400px;
    height: 309px;
}
.sub-left h2{
    font-weight: 700;
    font-size: 30px;
}
.sub-left a{
    text-decoration: none;
}
.sub-right{
    margin: 30px 0px 0px 60px;
}
/* footer start */
.footer{
    margin: 30px 0px 0px 230px;
    padding-bottom: 30px;
}
.fav-icon{
   margin-left: 200px;
}